@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0px;
  font-family: 'Roboto',sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  min-width: 830px;
}

header {
  text-align: center;
  background-color: rgb(186, 186, 186);
  padding: 10px;
  height: 10%;
  min-width: 830px;
}

button {
  border-style: none;
  padding: 15px;
  border-radius: 50px;
  width: 200px;
  align-self: center;
}

.shelves {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 10px;
  grid-auto-rows: 300px;
  align-items: end;
  justify-items: center;
  min-width: 830px;
}

.book {
  height: 250px;
  width: 150px;
  border-style: solid;
}