@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0px;
  font-family: 'Roboto',sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  min-width: 830px;
}

header {
  text-align: center;
  background-color: rgb(186, 186, 186);
  padding: 10px;
  height: 10%;
  min-width: 830px;
}

.add-book {
  border-style: none;
  padding: 15px;
  border-radius: 50px;
  width: 200px;
  align-self: center;
}

form {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: repeat(6, 30px);
  align-items: center;
  justify-items: start;
  gap: 20px;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 10px;
  grid-auto-rows: 300px;
  align-items: end;
  justify-items: center;
  min-width: 830px;
}

.book {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  height: 250px;
  width: 150px;
  border-style: solid;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3) ;
}

.title {
  grid-area: 2 / 1 / 3 / 3;
}

.pages {
  grid-area: 3 / 1 / 4 / 3;
}

.read-not-read {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  justify-items: end;
  grid-area: 4 / 1 / 5 / 3;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  box-shadow: 0px -3px 2px rgb(0 0 0 / 0.1);
}

.read-not-read label {
  font-size: 15px;
  padding-left: 20px;
}

.close-book {
  border-radius: 15px;
}

.add-book-dialog {
  border-style: none;
  padding: 15px;
  border-radius: 50px;
  width: 200px;
  grid-area: 6 / 1 / 7 / 3;
  justify-self: center;
}

